//Colors

$bgColor: #F9F6EE;
$primaryColor: #1C1C1C;
$secondaryColor: #e4e6e3;

//Fonts

@font-face {
    font-family: 
    Australian Signature;
    src: url(/fonts/Australian-Signature.otf);

}

@font-face {
    font-family: 
    Nohemi ExtraBold;
    src: url(/fonts/Nohemi-ExtraBold-BF6438cc5881baf.ttf);

}

@font-face {
    font-family: 
    NohemiBold;
    src: url(/fonts/Nohemi-VF-BF6438cc58ad63d.ttf);

}

@font-face {
    font-family: 
    NohemiLight;
    src: url(/fonts/Nohemi-Light-BF6438cc583f70b.otf);

}
